<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690014095278-698deh4mipsre2v1vdvgqfs24s8iuti8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690014095278-698deh4mipsre2v1vdvgqfs24s8iuti8</string>
	<key>API_KEY</key>
	<string>AIzaSyAaimtYk4SPyKYpL2CbD6-r2kpnRUxLItA</string>
	<key>GCM_SENDER_ID</key>
	<string>690014095278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myCalendarTFC</string>
	<key>PROJECT_ID</key>
	<string>my-calendar-fff18</string>
	<key>STORAGE_BUCKET</key>
	<string>my-calendar-fff18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690014095278:ios:71500107d88850f3e52a3f</string>
	<key>DATABASE_URL</key>
	<string>https://my-calendar-fff18-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>